env:
  RUBY_VERSION: 3.2.2

name: RichEnums CI
on:
  workflow_dispatch:
  pull_request:
    paths-ignore:
      - .gitignore
      - CHANGELOG.md
      - CONTRIBUTING.md
      - README.md
  push:
    paths-ignore:
      - .gitignore
      - CHANGELOG.md
      - CONTRIBUTING.md
      - README.md

jobs:
  rspec-test:
    name: Run tests (ruby ${{ matrix.ruby }}, rails ${{ matrix.rails }})
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        include:
          - ruby: '3.4'
            rails: '8.0'
          - ruby: '3.3'
            rails: '7.2'
          - ruby: '3.2'
            rails: '7.1'
          - ruby: '3.2'
            rails: '7.0'
          - ruby: '3.1'
            rails: '7.0'
    env:
      BUNDLE_GEMFILE: gemfiles/activerecord_${{ matrix.rails }}.gemfile
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: Gem cache
        uses: actions/cache@v4
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gem-use-ruby-${{ hashFiles('**/Gemfile.lock') }}
      - name: Install dependencies
        run: |
          gem install bundler --version 2.3.25 --no-document
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3
      - name: Run tests
        run: bundle exec rake spec
